{% match message %} 
  {% when Message::User with { content } %}
    <!-- Put the message index into the event so we can target a specific message -->
    <div
      class="message text-gray-200 bg-gray-600 rounded-xl px-2 py-1 self-end w-auto ml-4"
      sse-swap="update_message#{{ index }}"
      hx-swap="beforeend"
    >
      <!-- We only care about the first message in this case, but its possible to use a loop instead of just `.first()` -->
      {% match content.first() %}
        {% when UserContent::Text with (text) %} 
          {{ text.text|markdown_cmark|safe }}
        {% else %}
      {% endmatch %}
    </div>
  {% when Message::Assistant with { content } %}
    <!-- Same logic applies here as the above -->
    <div
      class="message text-gray-200"
      sse-swap="update_message#{{ index }}"
      hx-swap="beforeend"
    > 
      {% match content.first() %}
        {% when AssistantContent::Text with (text) %} 
          {{ text.text|markdown_cmark|safe }}
        {% else %}
      {% endmatch %}
    </div>
{% endmatch %}
