<div class="flex flex-row gap-2 w-full h-max" id="prompt-container">
  <button
    class="text-gray-200 bg-gray-600 rounded-xl p-3 aspect-square h-full flex justify-center items-center cursor-pointer hover:opacity-80"
    hx-trigger="click"
    hx-get="/api/recording"
    hx-target="closest #prompt-container"
  >
    {% include "svgs/microphone.html" %}
  </button>
  <form
    id="prompt-form"
    class="bg-gray-600 rounded-xl flex flex-row px-4 py-2 gap-2 grow"
    hx-post="/api/prompt"
    hx-target="#chat-history"
    hx-swap="beforeend"
    hx-on::before-request="resetPrompt()"
  >
    <input
      id="prompt"
      name="prompt"
      type="text"
      placeholder="Ask me anything..."
      class="grow placeholder-gray-500 text-gray-200 outline-0 break-words"
      value="{{ prompt }}"
    />
    <button
      type="submit"
      class="border-l-2 pl-3 border-l-gray-700 text-gray-200 cursor-pointer"
    >
      {% include "svgs/send.html" %}
    </button>
  </form>
</div>
